.skillList{
	padding:0!important;
	margin:0 0 20px 0 !important;
	}

.skillList li{
	font-size:12px !important;
	background: #A4A4A4;
	display:inline-block;
	color:#fff!important;
	text-decoration:none;
	position:relative;
	padding:12px !important;
	border:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	line-height:0;
	}